body { 
    font-family: Arial, Helvetica, sans-serif; 
    padding: 20px;
}

.wrapper { 
    max-width: 1800px; 
    margin: 80px auto; 
}

/* demo outline buttons */

.btn {
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

/* Green */
.success {
  border-color: #04AA6D;
  color: green;
}
.success:hover {
  background-color: #04AA6D;
  color: white;
}

/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue
}
.info:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
}
.warning:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336;
  color: red
}
.danger:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.secondary {
    border-color: #6C757D;
    color: #6C757D;
}
.secondary:hover {
    background: #e9ecef;
    color: black;
}

/* Cards */

.card {
  width: 330px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 24px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  text-align: center;
  padding: 10px 25px;
}

.container h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

/* Card Layout */

.cardlayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 80%;
  margin: 0 auto;
}

.txtwarning {
  font-family: monospace;
  color: red;
}